body {
    background: linear-gradient(to bottom, #0080ff, white);
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(13, 159, 250);
    font-size: 33px;
    text-shadow: 2px 2px 4px black;
}

h2 {
    color: #003063;
}

.btn-voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 20px;
}

.btn-voltar:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #004289;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.texto-centro {
    max-width: 600px;   /* limita a largura */
    margin: 0 auto;     /* centraliza */
    text-align: center; /* centraliza o texto */
}

.fonte-diferente {
    font-family: 'Georgia', serif;
}